Name=Color selection dialog
Name[ar]=إطار اختيار اللون
Name[be]=Акенца выбару колера
Name[cs]=Dialog pro výběr barev
Name[da]=Dialog for farvevalg
Name[de]=MATE-Auswahldialog
Name[el]=Διάλογος επιλογής χρώματος
Name[en_AU]=Colour selection dialogue
Name[en_GB]=Colour selection dialogue
Name[es]=Diálogo de la selección de color.
Name[et]=Värvuse valimise dialoog
Name[eu]=Kolore-hautapen elkarrizketa-koadroa
Name[fr]=Dialogue de sélection de couleur
Name[gl]=Diálogo de selección de cor
Name[hr]=Dijaloški okvir odabira boje
Name[hu]=Szín párbeszédablak
Name[id]=Dialog pemilihan warna
Name[it]=Dialogo di selezione colore
Name[ja]=色選択ダイアログ
Name[ko]=색상 선택 대화 상자
Name[lt]=Spalvos pasirinkimo langas
Name[ms]=Dialog pemilihan warna
Name[nl]=Kleur selectie dialoog
Name[pl]=Okno dialogowe wyboru kolorów
Name[pt]=Diálogo de seleção de cor
Name[pt_BR]=Diálogo de seleção de cores
Name[ru]=Диалог выбора цвета
Name[sk]=Dialógové okno výberu farby
Name[sl]=Pogovorno okno izbora barve
Name[sr]=Прозорче за избор боје
Name[sv]=Dialogruta för färgval
Name[tr]=Renk seçim diyaloğu
Name[uk]=Діалог вибору кольору
Name[zh_CN]=颜色选择对话框
Name[zh_TW]=顏色選擇區對話盒
Comment=Choose colors from the palette or the screen
Comment[ar]=إختر لونا من لوحة أو شاشة اﻷلوان
Comment[be]=Абярыце колер з палітры ці экрана
Comment[cs]=Vyberte si barvy z palety, nebo na obrazovce
Comment[da]=Vælg farver fra paletten eller skærmen
Comment[de]=Farben aus der Palette oder dem Bildschirm auswählen
Comment[el]=Επιλογή χρωμάτων από παλέτα ή την οθόνη
Comment[en_AU]=Choose colours from the palette or the screen
Comment[en_GB]=Choose colours from the palette or the screen
Comment[es]=Elija los colores de la paleta o la pantalla
Comment[et]=Värvuste valimine ekraanil asuvast paletist
Comment[eu]=Aukeratu koloreak paleta edo pantailatik
Comment[fr]=Choisir les couleurs dans la palette ou à l'écran
Comment[gl]=Escolla cores da paleta ou da pantalla
Comment[hr]=Odaberi boje iz palete ili zaslona
Comment[hu]=Válassza ki a színt a palettáról, vagy a képernyőről
Comment[id]=Pilih warna dari palet atau layar
Comment[it]=Seleziona i colori dalla tavolozza o dallo schermo
Comment[ja]=パレットあるいはスクリーンから色を選択します
Comment[ko]=팔레트 또는 화면에서 색상을 선택합니다
Comment[lt]=Pasirinkti spalvas iš paletės, arba iš ekrano
Comment[ms]=Pilih warna dari palet atau skrin
Comment[nl]=Kies kleuren van het palet of het scherm
Comment[pl]=Wybór kolorów z palety lub ekranu
Comment[pt]=Escolher cores da paleta ou do ecrã
Comment[pt_BR]=Escolha cores da paleta ou da tela
Comment[ru]=Выберите цвет из палитры цветов или с экрана
Comment[sk]=Vyberte farby z palety, alebo obrazovky
Comment[sl]=Izberite barve s palete ali zaslona
Comment[sr]=Изаберите боје са палете или са екрана
Comment[sv]=Välj färger från paletten eller från skärmen
Comment[tr]=Paletten ya da ekrandan renkleri seçin
Comment[uk]=Виберіть колір із палітри або з екрану
Comment[zh_CN]=在调色板或屏幕上选取颜色
Comment[zh_TW]=從調色板或螢幕上選擇顏色
