Source: ubuntu-system-adjustments
Section: admin
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <root@dev.xentaos.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaos/ubuntu-system-adjustments
Vcs-Browser: https://github.com/xentaos/ubuntu-system-adjustments.git

Package: ubuntu-system-adjustments
Architecture: all
Depends: xentasystem
Description: Paket Base Penyesuaian Basis Ubuntu untuk Xenta OS.
 Penyesuaian ini mengubah beberapa perilaku yang tidak 
 diinginkan dari basis paket Ubuntu dan khusus untuk 
 basis Xenta OS.
